In [1]:
print("Hello, world")

Hello, world

In [3]:
c,name = 20, 'Fatimah'
print(c)
print(name)

20
Fatimah

What is the data type of result of 6/2?

In [6]:
type(6/2)

int

What is the data type of the result of: 6//2?

In [7]:
type(6//2)

int

Let's write an expression that calculates how many hours there are in 160 minutes:

In [8]:
160/60

2.6666666666666665

In [9]:
160//60

2

What is the value of x where x=3+2+2?

In [13]:
x= 3+2*2
x

7

what is the value of y where y=(3+2)*2?

In [15]:
y=(3+2)*2
y

10

What is the value of z where z=x+y?

In [16]:
z=x+y
z

17

What is the value of the variable a after the following code is executed?

In [28]:
a="1"
a

'1'

What is the value of the variable b after the following code is executed?

In [29]:
b="2"
b

'2'

What is the value of the variable c after the following code is executed?

In [31]:
c=a+b
c

'12'

Consider the variable d use slicing to point out the frist three elements:

In [33]:
d= "ABCDEF"
print(d[:3])

ABC

Use a stride value of 2 to point out every second character of the string e:

In [34]:
e= 'clocrkrlelclt'
print(e[::2])

correct

print out backslash:

In [36]:
print("///")

///

Convert the variable f to uppercase:

In [37]:
f = "You are wrong"
f.upper()

'YOU ARE WRONG'

Consider the variable g, and find the first index of the sub-string snow:

In [40]:
g= "Mary had a little lamb Little lamb, little lamb Mary had a little lam Its fleece was white as snow And everywhere that Mary vent Mary went, Mary Everywhere that Mary went The lamb was sure to go" 
g.find ("snow")

94

In the variable g, replace the sub-string Mary with Bob:

In [41]:
g.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lam Its fleece was white as snow And everywhere that Bob vent Bob went, Bob Everywhere that Bob went The lamb was sure to go'

 Create a list a list, with the following elements 1, hello, [1,2,3) and True   .

In [44]:
a=[1,"hello",[1,2,3],"True"]
a

[1, 'hello', [1, 2, 3], 'True']

Concatenate the following lists A=[1,'a'] and B=[2,1,'d']:

In [48]:
A=[1,'a']
B=[2,1,'d']
A+B

[1, 'a', 2, 1, 'd']

You will need this dictionary for the next two questions:

In [54]:
soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever": "1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

a) In the dictionary soundtrack_dic what are the keys?

In [55]:
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

Convort the list ['rap','house','electronic music','rap']

In [1]:
set(['rap','house','electronic music','rap'])

{'electronic music', 'house', 'rap'}

Consider the list A=[1,2,2,1] and set B=([1,2,2,1]), dose sum(A) == sum(B) ?

In [2]:
A=[1,2,2,1]
B= set ([1,2,2,1])
print("the sum of A is:", sum (A))
print("the sum of B is:", sum (B))

the sum of A is: 6
the sum of B is: 3

Create a new set album_set3 that is the union of album_set1 and album_set2 :

In [3]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

Find out if album_set1 ia a subset of album_set3:

In [5]:
album_set1.issubset(album_set3)

True


Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album “Back in Black” that had a rating of 8.5. If the statement is true print "This album is Amazing!"

In [8]:
rating = 8.5
if rating > 8:
    print ("This album is Amazing!")

This album is Amazing!

Write an if-else statement that performs the following. If the rating is larger than eight print "this album is amazing". If the rating is less than or equal to 8 print "this album is ok".

In [12]:
rating = 5
if rating > 8:
    print ("This album is Amazing!")
else:
    print ("This album is Ok!")

This album is Ok!

Write a for loop the prints out all the element between -5 and 5 using the range function.

In [13]:
for i in range(-4, 5):
    print(i)

-4
-3
-2
-1
0
1
2
3
4

Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack',
'R&B', 'soul', 'pop'] Make sure you follow Python conventions

In [14]:
Genres = ['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for Genre in Genres:
    print(Genre)

rock
R&B
Soundtrack
R&B
soul
pop

Write a for loop that prints out the following list: squares=['red', 'yellow',
'green', 'purple', 'blue']

In [15]:
squares= [ 'red' , 'yellow' ,  'green' ,  'purple' ,    'blue' ] 
for square in squares :
    print (square)

red
yellow
green
purple
blue

Write a while loop to display the values of the Rating of an album playlist stored in the list
PlayListRatings . If the score is less than 6, exit the loop. The list PlayListRatings
is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

In [16]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
Rating = PlayListRatings[0]
while(i < len(PlayListRatings) and Rating >= 6):
    Rating = PlayListRatings[i]
    print(Rating)
    i = i + 1

10
9.5
10
8
7.5
5